* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Campton-black";
  src: url("../font/Campton.Black.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Campton-bold";
  src: url("../font/Campton.Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Campton-extra-bold";
  src: url("../font/Campton.ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Campton";
  src: url("../font/Campton.Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Campton-book";
  src: url("../font/Campton.Book.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.header-externo {
  background-color: #081e66;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2% 12%;
}

.menu-interno {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.logo-header-img {
  width: 18%;
}

ul > li > a {
  color: white;
  font-weight: 400;
  font-family: Campton;
  cursor: pointer;
  font-size: 0.8rem;
}

.nav-list > li > a:hover {
  opacity: 0.7;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.area-do-corretor-btn {
  border: 2px solid white;
  border-radius: 30px;
  padding: 0.5rem 1.5rem 0.2rem;
  text-decoration: none;
  color: #f1c433;
  font-family: Campton;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: 1.2rem;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

/* .mobile-menu > .line03 {
  width: 22px;
  height: 2px;
  background: #fff;
} */

.banner {
  background: url("../img/banner/001.png") no-repeat center center;
  background-size: cover;
  /* width: 100%; */
  height: 110vh;
  /* margin-top: 1vh; */
}

.section-banner {
  padding-top: 8vh;
}

.telefone-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 4rem;
}

.paragraph-tel-banner {
  font-family: Campton;
  color: white;
  text-decoration: none;
}

.numero-telefone-banner {
  text-decoration: none;
  color: white;
  font-family: Campton-black;
  font-size: 3rem;
}

.info-banner {
  /* margin-left: 12%; */
  margin: 10% 12%;
}

.titulo-banner {
  font-family: Campton-bold;
  color: white;
  font-size: 3.7rem;
  line-height: 4rem;
  margin-bottom: 0.8rem;
}

.paragrafo-banner {
  color: white;
  font-family: Campton-book;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
}

.btn-saiba-mais-header {
  background-color: #081e66;
  color: white;
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-family: Campton-book;
  margin-right: 1rem;
}

.btn-decorado-header {
  background-color: #f1c433;
  color: #081e66;
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-family: Campton-book;
}

.bullet {
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.div-empreendimento {
  margin-top: -10rem;
}

.btn-empreendimento-box {
  width: 12rem;
  height: 12rem;
  background-color: #081e66;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-content: center; */
  text-align: center;
}

.div-empreendimento-interna-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.paragrafo-div-empreendimento {
  text-align: center;
  color: white;
  font-family: Campton-book;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.paragrafo-btn-empreendimento {
  font-family: Campton-extra-bold;
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 2.5rem;
}

.btn-clique-aqui {
  font-family: Campton;
  color: #f1c433;
}
.pq-escolher-opcao {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin: 8rem auto;
  width: 70%;
}

.escolher-opcao-texto-esquerdo > h2 {
  color: #f1c433;
  font-family: Campton-black;
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.escolher-opcao-texto-esquerdo > p {
  font-family: Campton-book;
  margin-bottom: 3rem;
  color: #081e66;
  line-height: 1.5rem;
}

.vantagens-opcao > p {
  font-family: Campton-book;
  font-size: 1.5rem;
  color: #081e66;
  margin-bottom: 3rem;
}

.vantagens-opcao > p > span {
  font-family: Campton-extra-bold;
}

.vantagens-opcao-conteudo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titulo-vantagens-opcao {
  font-family: Campton-extra-bold;
  color: #081e66;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.vantagens-opcao-conteudo > p {
  font-family: Campton-extra-bold;
  color: #f1c433;
  font-size: 4rem;
  padding-right: 1rem;
}

.paragrafo-vantagens-opcao {
  font-family: Campton-book;
  color: #081e66;
  font-size: 0.8rem;
}

.hr-vantagens {
  margin: 2.2rem 0;
  border-top: 1px solid #094cfa;
}

@media only screen and (max-width: 1360px) {
  .nav-list {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 92vh;
    background: #081e66;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    list-style: none;
  }

  .nav-list li {
    opacity: 0;
  }

  .nav-list li a {
    font-size: 1.5rem;
  }

  .mobile-menu {
    display: inline-block;
    position: absolute;
    right: 15%;
  }

  .logo-header-img {
    width: 190px;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
